.bien{

background-color:lightgreen;
color:solid black;
margin-top: 30px;
margin-left: 270px;
margin-right: 270px;
padding-top: 20px;
padding-bottom: 40px;

}

.mal{

background-color:red; color: red;

}

html, body{

background-color: lightgoldenrodyellow; margin:20px;

}

body{

font-size: 30px; text-align: center;

}

.boton{

margin:10px; padding: 5px; font-size: 20px;

}

/* Lo conseguí */